
<p id="notice"><%= notice %></p>

<div class="productTable">
  <br>
  <!--This will create a text field in which user can enter the book title that they are looking for -->
    <b>Search For A Book:</b>
    <%= form_tag("/products", method: "get") do %>
    <%= text_field_tag(:search) %>
    <%= submit_tag("Search") %>
  <% end %>

  <% if user_signed_in? %>
    <p class = "new-product"> <%= link_to 'New Product', new_product_path %> </p>
  <% end %>

  <br>
  <br>

  <!-- This table will display the product info and allow shopper to see the products and add them to their cart -->

    <div class = "books">
      <% @products.each do |product| %>
          <%= link_to product do %>
            <div class = "book">
                <p class= "image"> <img src="<%=product.image_url %>" width="150" height="150"> </p>
                <b> <%= product.title %> - $<%= product.price %> </b>
          <% end %>

  <!-- This condition is for authentication purposes, only the admin can login and edit or delete the products. If not logged in, only show and add to cart functions will be displayed -->
              <% if user_signed_in? %>
                   <p class="edit">
                    <%= link_to 'Edit', edit_product_path(product) %>
                    <%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' } %>
                   </p>
              <% end %>
            </div>
      <% end %>
    </div>
  <br>

</div>
