<div class = "cartimage">
  <p id="notice"><%= notice %></p>

  <p>
    <strong> </strong>
    <img src="<%=@product.image_url %>" width="200" height="200">
  </p>
</div>

<div class = "products">
  <p>
    <strong>Title:</strong>
    <%= @product.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @product.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= @product.price %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= @product.category %>
  </p>

  <a href='/cart/<%= @product.id %>'> Add To Cart </a> </p>

  <% if user_signed_in? %>
    <%= link_to 'Edit', edit_product_path(@product) %> |
  <% end %>

  <%= link_to 'Back', products_path %>
</div>
