<!DOCTYPE html>
<html>
  <head>
    <title>Shoppingcart</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class = 'auth_links'>
      <% if user_signed_in? %>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      <% else %>
        <p class="auth_link"> <%= link_to "Log In", new_user_session_path %> </p>
        <p class="auth_link"> <%= link_to "Sign Up", new_user_registration_path %> </p>
      <% end %>
    </div>

    <div class = 'page_links'>
      <p class="page_link"> <%= link_to "Home", root_path %> </p>
      <p class="page_link"> <%= link_to "About", page_about_path %> </p>
      <p class="page_link"> <%= link_to "Shop", products_path %> </p>
      <p class="page_link"> <%= link_to "Contact", page_contact_path %> </p>
    </div>

    <%= yield %>
  </body>
</html>
