<!DOCTYPE html>
<html>
  <head>
    <title>BookStore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class = 'auth_links'>
      <% if user_signed_in? %>
        <p class="auth_link"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></p>
      <% else %>
        <p class="auth_link"> <%= link_to "Log In", new_user_session_path %> </p>
      <% end %>
    </div>

    <div class = 'page_links'>
      <p class="page_link"> <%= link_to "Cart", cart_path %> </p>
    </div>

    <%= yield %>
  </body>
</html>
